<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#db5945">
    <title>Login</title>
    <link rel="manifest" href="/manifest.json">

    <!-- Bootstrap core CSS -->
    <link href="../css/custom.css" rel="stylesheet">
    <link href="../css/fa-all.css" rel="stylesheet">
    <!-- <link href="css/custom-css-bootstrap.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }
      .container {
          height:100%;
      }
      .container .row {
          height:400px;
      }

    </style>

  </head>

  <body>

   
    <!-- Page Content -->
    <div class="container">
      <div class="row  align-items-center">
        <div class="col text-center text-primary">
          <!-- <h1 class="mt-5">A Bootstrap 4 Starter Template</h1> -->
          <p class="font-weight-bold">Property Manager View</p>
          <p class="font-weight-light">click blew to start</p>
          <h1><a href="property.html"><i class="fas fa-power-off"></i></a>
          </h1>  
          
        </div>
      </div>
    </div>

        <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script> 
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="../scripts/login.js" async></script>
  </body>

</html>
